/* This defines styles and classes used in the book */
code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 0.88em;
  line-height: 100%;
  white-space: pre-wrap;
}
ol.toc {
  padding: 0;
  margin-left: 1em;
}
ol.toc li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
pre {
  margin: 10pt;
}
#cover img {
  width: 100%;
}
@font-face {
  font-family: "Ubuntu Mono";
  font-weight: normal;
  font-style: normal;
  src: url(UbuntuMono-Regular.otf);
}
